<div class="rounded-2xl border border-border bg-surface p-4 shadow-sm">
  <p-table
    [value]="displayedData"
    [paginator]="true"
    [rows]="10"
    [rowsPerPageOptions]="[5, 10, 20, 50]"
    [showCurrentPageReport]="true"
    currentPageReportTemplate="Mostrando {first} - {last} de {totalRecords} registros"
    [tableStyle]="{ 'min-width': '1100px' }"
    styleClass="tabla-header-primary p-datatable-sm"
    [rowHover]="true"
  >
    <ng-template pTemplate="caption">
      <div class="flex items-center justify-between">
        <span class="text-lg font-extrabold uppercase tracking-wide text-ink">
          Detalle de disparos
        </span>
      </div>
    </ng-template>

    <ng-template pTemplate="header">
      <tr>
        <th class="whitespace-nowrap text-left">Equipo</th>
        <th class="whitespace-nowrap text-left">Disparo</th>
        <th class="whitespace-nowrap text-left">Labor</th>
        <th class="whitespace-nowrap text-right">Tal Prod</th>
        <th class="whitespace-nowrap text-right">Tal Rim</th>
        <th class="whitespace-nowrap text-right">Tal Repaso</th>
        <th class="whitespace-nowrap text-right">Tal Alivio</th>
        <th class="whitespace-nowrap text-right">Pies</th>
        <th class="whitespace-nowrap text-right">Metros Perforados</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-item>
      <tr>
        <td class="whitespace-nowrap">
          {{ item.equipo }}
        </td>
        <td class="whitespace-nowrap font-semibold text-ink">
          {{ item.disparo }}
        </td>
        <td class="whitespace-nowrap text-ink">
          {{ item.labor }}
        </td>
        <td class="text-right">
          {{ item.tal_prod | number : "1.0-0" }}
        </td>
        <td class="text-right">
          {{ item.tal_rim | number : "1.0-0" }}
        </td>
        <td class="text-right">
          {{ item.tal_repaso | number : "1.0-0" }}
        </td>
        <td class="text-right">
          {{ item.tal_alivio | number : "1.0-0" }}
        </td>
        <td class="text-right">
          {{ item.pies | number : "1.0-2" }}
        </td>
        <td class="text-right font-semibold">
          {{ item.metros_perforados | number : "1.0-1" }}
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="footer">
      @if (displayedData.length > 0) {
        <tr class="bg-primary/10 font-extrabold">
          <td colspan="3" class="whitespace-nowrap text-left">Total</td>
          <td class="text-right">
            {{ totales.tal_prod | number : "1.0-0" }}
          </td>
          <td class="text-right">
            {{ totales.tal_rim | number : "1.0-0" }}
          </td>
          <td class="text-right">
            {{ totales.tal_repaso | number : "1.0-0" }}
          </td>
          <td class="text-right">
            {{ totales.tal_alivio | number : "1.0-0" }}
          </td>
          <td class="text-right">
            {{ totales.pies | number : "1.0-2" }}
          </td>
          <td class="text-right">
            {{ totales.metros_perforados | number : "1.0-1" }}
          </td>
        </tr>
      }
    </ng-template>

    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="9" class="py-8 text-center text-sm text-gray-500">
          No hay datos disponibles.
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
