<div class="contenedor-perfil">
  <!-- Encabezado azul -->
  <div class="encabezado-perfil-azul"></div>

  <div class="info-perfil">
    <div class="imagenes-perfil">
      <img src="usuario/user1.png" alt="Foto de perfil" class="foto-perfil" />
      <img
        [src]="usuario?.firma ? usuario?.firma : 'usuario/firma.png'"
        alt="Firma"
        class="firma"
        (click)="mostrarFirmaGrande = true"
      />
    </div>

    <div class="info-texto">
      <h2>{{ usuario?.nombres }} {{ usuario?.apellidos }}</h2>
      <p>{{ usuario?.cargo }}</p>
    </div>

    <button class="boton-editar" (click)="Edicion()">Editar</button>
  </div>
</div>

<div
  class="modal-firma"
  *ngIf="mostrarFirmaGrande"
  (click)="mostrarFirmaGrande = false"
>
  <div class="modal-contenido">
    <img
      [src]="usuario?.firma ? usuario?.firma : 'usuario/firma.png'"
      alt="Firma grande"
      class="firma-grande"
    />
    <div class="opciones-firma">
      <button (click)="cambiarFirma()">Cambiar firma</button>
      <button (click)="eliminarFirma()">Eliminar firma</button>
    </div>
  </div>
</div>

<!-- Información detallada -->
<div class="contenedor-detalles-perfil">
  <div class="detalles-perfil">
    <div class="detalle">
      <strong>Nombre</strong>
      <span>{{ usuario?.nombres }}</span>
      <hr />
    </div>

    <div class="detalle">
      <strong>Apellidos</strong>
      <span>{{ usuario?.apellidos }}</span>
      <hr />
    </div>

    <div class="detalle">
      <strong>Cargo</strong>
      <span>{{ usuario?.cargo }}</span>
      <hr />
    </div>

    <div class="detalle">
      <strong>Empresa</strong>
      <span>{{ usuario?.empresa }}</span>
      <hr />
    </div>

    <div class="detalle">
      <strong>Guardia</strong>
      <span>{{ usuario?.guardia }}</span>
      <hr />
    </div>

    <div class="detalle">
      <strong>Equipo Autorizado</strong>
      <span>{{ usuario?.autorizado_equipo }}</span>
      <hr />
    </div>

    <div class="detalle">
      <strong>Correo</strong>
      <span>{{ usuario?.correo }}</span>
      <hr />
    </div>
  </div>
</div>

<div class="modal-exito" *ngIf="mensajeExito">
  <div class="modal-content-exito">
    <p>✅ Cambios guardados correctamente.</p>
  </div>
</div>

<app-editar-perfil-dialog
  [(visible)]="editando"
  [usuario]="usuario"
  (guardarPerfil)="guardarEdicionUsuario($event)"
>
</app-editar-perfil-dialog>
