<div class="filtro-fechas">
  <div class="campo">
    <label>Fecha inicio</label>
    <input type="date" [(ngModel)]="fechaInicio">
  </div>

  <div class="campo">
    <label>Fecha fin</label>
    <input type="date" [(ngModel)]="fechaFin">
  </div>

  <div class="campo">
  <label>Turno</label>
  <select [(ngModel)]="turnoSeleccionado">
    <option value="">Todos</option>
    <option value="DÍA">Día</option>
    <option value="NOCHE">Noche</option>
  </select>
</div>


  <button class="btn-aplicar" (click)="aplicarFiltro()">
    Aplicar
  </button>

  <button class="btn-aplicar" (click)="quitarFiltro()">
    Quitar filtro
  </button>

  <button class="btn-aplicar" (click)="generarPDF()">
  Exportar PDF
</button>

<button class="btn-aplicar" (click)="toggleVista()">
  {{ vistaPrincipal ? 'Ver gráficos secundarios' : 'Gráficos principales' }}
</button>

</div>

<div class="graficos-container" *ngIf="vistaPrincipal">
  <!-- Hoja 1 pdf -->
  <app-resumen class="full-width" [data]="resumen" data-page="1"></app-resumen>
  
  <app-disparos-equipo [data]="dataDisparosEquipo" data-page="1"></app-disparos-equipo>
  <app-perforado-equipo  [data]="dataMetrosDisparoFR" data-page="1"></app-perforado-equipo>

  <app-rendimiento-equipo [data]="dataIndicadoresEquipo" data-page="1"></app-rendimiento-equipo>
  <app-demoras-operativas [data]="dataDemorasOperativas" data-page="1"></app-demoras-operativas>
<!-- Hoja 2 pdf -->
  <app-horas-no-operativas [data]="dataHorasNoOperativas" data-page="2"></app-horas-no-operativas>
  <app-horas-de-mantenimiento [data]="dataHorasMantenimiento" data-page="2"></app-horas-de-mantenimiento>

  <app-metros-perforados-disparo [data]="dataMetrosDisparoFR" data-page="2"></app-metros-perforados-disparo>
  <app-mhr-equipo [data]="dataMhrEquipo" data-page="2"></app-mhr-equipo>

  <app-horometros-jumbos [data]="dataHorometrosJumbos" data-page="2"></app-horometros-jumbos>
  <app-total-horometros [data]="dataHorometrosJumbos" data-page="2"></app-total-horometros>
<!-- Hoja 3 pdf -->

  <app-avance-fase [data]="dataAvanceFase" data-page="3"></app-avance-fase>
  <app-horas-primera-perforacion [data]="dataProcesoLaborFR" data-page="3"></app-horas-primera-perforacion>

  <!-- Hoja 4 pdf -->
  <app-detalle-perforacion class="full-width" [data]="dataPercusionConMetrosJumbos" data-page="4"></app-detalle-perforacion>
  <app-detalle-disparos class="full-width" [data]="datadetalleDisparos" data-page="4"></app-detalle-disparos>

    <!-- Hoja 5 pdf -->
  <app-mejores-operadores [data]="dataFrPorOperadorTurno" data-page="5"></app-mejores-operadores>
  <app-ranking-operador [data]="dataFrPorOperadorTurno" data-page="5"></app-ranking-operador>
  <app-observaciones class="full-width" [data]="dataLaborFRDetallado" data-page="5"></app-observaciones>

  <!-- Hoja 6 pdf -->
<app-scatter-turnos 
  *ngIf="turnoAplicado === '' || turnoAplicado === 'DÍA'"
  class="full-width"
  [data]="dataHorasNumericas" data-page="6">
</app-scatter-turnos>

<app-scatter-turnos-noche 
  *ngIf="turnoAplicado === '' || turnoAplicado === 'NOCHE'"
  class="full-width"
  [data]="dataHorasNumericas" data-page="6">
</app-scatter-turnos-noche>

</div>    

<div class="graficos-container" *ngIf="!vistaPrincipal">

<app-scheduler class="full-width" [data]="ganttData" data-page="6"></app-scheduler>
</div>

<div class="overlay" *ngIf="cargandoPDF">
  <div class="spinner"></div>
  <p>Generando PDF...</p>
</div>