<div class="filtro-fechas">
  <div class="campo">
    <label>Fecha inicio</label>
    <input type="date" [(ngModel)]="fechaInicio">
  </div>

  <div class="campo">
    <label>Fecha fin</label>
    <input type="date" [(ngModel)]="fechaFin">
  </div>

  <div class="campo">
  <label>Turno</label>
  <select [(ngModel)]="turnoSeleccionado">
    <option value="">Todos</option>
    <option value="DÍA">Día</option>
    <option value="NOCHE">Noche</option>
  </select>
</div>


  <button class="btn-aplicar" (click)="aplicarFiltro()">
    Aplicar
  </button>

  <button class="btn-aplicar" (click)="quitarFiltro()">
    Quitar filtro
  </button>

  <button class="btn-aplicar" (click)="generarPDF()">
  Exportar PDF
</button>

</div>

<div class="graficos-container">
  <!-- Hoja 1 pdf -->
  <app-resumen class="full-width" [data]="resumenSC" data-page="1"></app-resumen>

  <app-cucharas-labor [data]="DataCucharadasLabor" data-page="1"></app-cucharas-labor>

  <app-cucharas-equipo [data]="DataCucharadasLabor" data-page="1"></app-cucharas-equipo>

  <app-rendimiento-equipo [data]="DataDMyUTI" data-page="1"></app-rendimiento-equipo>

  <app-demoras-operativas [data]="DataEstadosSOS" data-page="o 1"></app-demoras-operativas>

  <app-demoras-inoperativas [data]="dataDemoraIno" data-page="1"></app-demoras-inoperativas>

  <app-horas-mantenimiento [data]="dataHoraMantenimiento" data-page="1"></app-horas-mantenimiento>

  <app-tonelaje-equipo [data]="dataToneladas" data-page="1"></app-tonelaje-equipo>

  <app-tn-hr-equipo [data]="dataTn_Hr" data-page="1"></app-tn-hr-equipo>

  <app-horometro-diesel [data]="dataDiferenciaDisel" data-page="1"></app-horometro-diesel>

  <app-horometro-diesel-total [data]="dataDiferenciaDiselTotal" ></app-horometro-diesel-total>

  <app-horas-primer-viaje [data]="dataViajesSC" data-page="1"></app-horas-primer-viaje>

  <app-resumen-equipos class="full-width" [data]="dataDetalleEquipo" data-page="1"></app-resumen-equipos>




  <app-mejores-operadores class="full-width"  [data]="dataMejoresOperadores" data-page="1"></app-mejores-operadores>

  <app-mejores-operadores-grafico [data]="dataMejoresOperadores" data-page="1"></app-mejores-operadores-grafico>

  <app-observaciones class="full-width" [data]="dataLaborFRDetallado" data-page="5"></app-observaciones>
     
  <app-scatter-turnos 
  *ngIf="turnoAplicado === '' || turnoAplicado === 'DÍA'"
  class="full-width"
  [data]="dataHorasNumericas" data-page="6">
</app-scatter-turnos>

<app-scatter-turnos-noche 
  *ngIf="turnoAplicado === '' || turnoAplicado === 'NOCHE'"
  class="full-width"
  [data]="dataHorasNumericas" data-page="6">
</app-scatter-turnos-noche>

</div>
 
<div class="overlay" *ngIf="cargandoPDF">
  <div class="spinner"></div>
  <p>Generando PDF...</p>
</div> 