<h2 mat-dialog-title>Selecciona un Proceso</h2>

<mat-dialog-content>
  <mat-divider></mat-divider>

  <div class="contenedor-botones">
    <button
      mat-raised-button
      color="primary"
      *ngFor="let proceso of procesos"
      (click)="seleccionarProceso(proceso)"
      class="boton-proceso"
    >
      {{ proceso.nombre }}
    </button>
  </div>

</mat-dialog-content>

<mat-dialog-actions align="center">
  <button mat-flat-button color="warn" (click)="cerrarDialogo()" class="boton-cerrar">
    Cerrar
  </button>
</mat-dialog-actions>