<div class="rounded-2xl border border-border bg-surface p-4 shadow-sm">
  <p-table
    [value]="displayedData"
    [paginator]="true"
    [rows]="10"
    [rowsPerPageOptions]="[5, 10, 20, 50]"
    [showCurrentPageReport]="true"
    currentPageReportTemplate="Mostrando {first} - {last} de {totalRecords} registros"
    [tableStyle]="{ 'min-width': '1100px' }"
    styleClass="tabla-header-primary p-datatable-sm"
    [rowHover]="true"
  >
    <ng-template pTemplate="caption">
      <div class="flex items-center justify-between">
        <span class="text-lg font-extrabold uppercase tracking-wide text-ink">
          Detalle
        </span>
      </div>
    </ng-template>

    <ng-template pTemplate="header">
      <tr>
        <th class="whitespace-nowrap text-left">Equipo</th>
        <th class="whitespace-nowrap text-right">Horas Percutadas</th>
        <th class="whitespace-nowrap text-right">Tal Prod</th>
        <th class="whitespace-nowrap text-right">Tal Rim</th>
        <th class="whitespace-nowrap text-right">Tal Repaso</th>
        <th class="whitespace-nowrap text-right">Tal Alivio</th>
        <th class="whitespace-nowrap text-right">Pies</th>
        <th class="whitespace-nowrap text-right">M/Hr</th>
        <th class="whitespace-nowrap text-right">Metros Perforados</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-item>
      <tr>
        <td class="whitespace-nowrap">{{ item.equipo }}</td>
        <td class="text-right">{{ item.horas_percutadas | number : "1.0-2" }}</td>
        <td class="text-right">{{ item.tal_prod | number : "1.0-0" }}</td>
        <td class="text-right">{{ item.tal_rimados | number : "1.0-0" }}</td>
        <td class="text-right">{{ item.tal_repaso | number : "1.0-0" }}</td>
        <td class="text-right">{{ item.tal_alivio | number : "1.0-0" }}</td>
        <td class="text-right">{{ item.long_barras | number : "1.0-2" }}</td>
        <td class="text-right">{{ item.fr_mhr_hp | number : "1.0-0" }}</td>
        <td class="text-right font-semibold">{{ item.metros_perforados | number : "1.0-1" }}</td>
      </tr>
    </ng-template>

    <ng-template pTemplate="footer">
      @if (displayedData.length > 0) {
        <tr class="bg-primary/10 font-extrabold">
          <td class="whitespace-nowrap text-left">Total</td>
          <td class="text-right">{{ totales.horas_percutadas | number : "1.0-2" }}</td>
          <td class="text-right">{{ totales.tal_prod | number : "1.0-0" }}</td>
          <td class="text-right">{{ totales.tal_rimados | number : "1.0-0" }}</td>
          <td class="text-right">{{ totales.tal_repaso | number : "1.0-0" }}</td>
          <td class="text-right">{{ totales.tal_alivio | number : "1.0-0" }}</td>
          <td class="text-right">{{ totales.long_barras | number : "1.0-2" }}</td>
          <td class="text-right">{{ totales.fr_mhr_hp | number : "1.0-0" }}</td>
          <td class="text-right">{{ totales.metros_perforados | number : "1.0-1" }}</td>
        </tr>
      }
    </ng-template>

    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="9" class="py-8 text-center text-sm text-gray-500">
          No hay registros para mostrar.
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
