@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import "tailwindcss";
@import "primeicons/primeicons.css";

@theme {
  /* Marca principal: celeste claro */
  --color-primary: #38BDF8;
  --color-primary-75: #6DCCFA;
  --color-primary-50: #9BDBFC;
  --color-primary-25: #CDEDFE;

  /* Color secundario: azul oscuro */
  --color-secondary: #0B1F3A;
  --color-secondary-75: #344963;
  --color-secondary-50: #7D8CA0;
  --color-secondary-25: #C6CDD6;

  /* Color de acento: alertas, destacados, badges */
  --color-accent: #FF9132;

  /* Textos */
  --color-ink: #333333;
  --color-ink-75: #666666;
  --color-ink-50: #999999;
  --color-ink-25: #CCCCCC;

  /* Fondos y bordes */
  --color-surface: #FFFFFF;
  --color-surface-soft: #F7F9F8;
  --color-border: #CCCCCC;

  /* Estados */
  --color-success: #00A064;
  --color-warning: #FF9132;
  --color-danger: #E74C3C;

  /* Menú */
  --color-menu-bg: #FFFFFF;
  --color-menu-text: #333333;
  --color-menu-hover-bg: #E0F2FE;
  --color-menu-hover-text: #0B1F3A;
}

.tabla-header-primary .p-datatable-thead > tr > th {
  @apply bg-primary! text-white font-bold;
}
.tabla-header-primary .p-datatable-thead > tr > th:first-child {
  @apply rounded-tl-xl;
}
.tabla-header-primary .p-datatable-thead > tr > th:last-child {
  @apply rounded-tr-xl;
}