<div class="card mx-2">
  <p-table
    #dt
    [value]="usuarios"
    [paginator]="true"
    [rows]="10"
    [rowsPerPageOptions]="[5, 10, 20]"
    [globalFilterFields]="['codigo_dni', 'nombres', 'apellidos', 'rol_nombre']"
    [tableStyle]="{ 'min-width': '900px' }"
    styleClass="p-datatable-sm"
    showGridlines
  >
    <ng-template #caption>
      <div
        class="flex flex-col gap-3 md:flex-row md:items-center md:justify-between"
      >
        <h2 class="text-2xl font-extrabold text-secondary">
          Lista de Usuarios
        </h2>

        <div class="flex flex-col gap-2 sm:flex-row">
          <button
            pButton
            type="button"
            label="Nuevo Usuario"
            icon="pi pi-plus"
            class="p-button-success"
            (click)="abrirDialogoCrear()"
          ></button>

          <p-fileupload
            mode="basic"
            chooseLabel="Ingreso masivo"
            chooseIcon="pi pi-upload"
            accept=".xlsx,.xls"
            [maxFileSize]="10000000"
            [auto]="true"
            styleClass="p-button-warning"
            (onSelect)="cargarArchivo($event)"
          >
          </p-fileupload>
        </div>
      </div>
      <div
        class="flex flex-col gap-2 sm:flex-row sm:items-center sm:justify-between"
      >
        <span class="p-input-icon-left w-full sm:max-w-md">
          <input
            pInputText
            type="text"
            class="w-full"
            placeholder="Buscar por DNI, nombres, apellidos o rol"
            (input)="dt.filterGlobal($any($event.target).value, 'contains')"
          />
        </span>
      </div>
    </ng-template>

    <ng-template #header>
      <tr>
        <th>DNI</th>
        <th>Nombre</th>
        <th>Procesos</th>
        <th>Rol</th>
        <th>Acciones</th>
      </tr>
    </ng-template>

    <ng-template #body let-usuario>
      <tr>
        <td>{{ usuario.codigo_dni }}</td>
        <td>{{ usuario.nombres }} {{ usuario.apellidos }}</td>
        <td>
          <div class="flex flex-wrap items-center gap-2">
            @for (item of usuario.procesos; track item) {
              <p-chip [label]="item.nombre_abreviado" />
            }
          </div>
        </td>

        <td>
          <p-tag [value]="usuario.rol_nombre" severity="info"></p-tag>
        </td>

        <td>
            
          <button
            pButton
            type="button"
            icon="pi pi-pencil"
            class="p-button-rounded p-button-info p-button-text"
            (click)="abrirDialogoEditar(usuario)"
          ></button>
          <button
            pButton
            type="button"
            icon="pi pi-trash"
            class="p-button-rounded p-button-danger p-button-text"
            (click)="eliminarUsuario(usuario.id!)"
          ></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<app-usuario-dialog
  *ngIf="showDialog"
  [data]="selectedUsuario"
  (closed)="cerrarDialogo()"
  (saved)="cerrarDialogo()"
></app-usuario-dialog>
