<div class="table-container">
  <h3 class="table-title">HORA DE PRIMERA PERFORACIÓN POR EQUIPO</h3>
  
  <div class="table-responsive">
    <table class="data-table">
      <thead>
        <tr>
          <th>Equipo</th>
          <th>Labor</th>
          <th>Hora</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of displayedData">
          <td>{{ item.equipo }}</td>
          <td>{{ item.labor }}</td>
          <td>{{ item.hora }}</td>
        </tr>
        <tr *ngIf="displayedData.length === 0">
          <td colspan="3" class="no-data">No hay datos disponibles</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>