<div class="space-y-5">
  <!-- FILTROS -->
<div class="rounded-2xl border border-border bg-surface p-4 shadow-sm">
  <div class="grid grid-cols-1 gap-4 md:grid-cols-2 xl:grid-cols-4">
    <!-- DÍA -->
    <div class="flex flex-col gap-2">
      <label class="text-sm font-bold text-ink">Día</label>

      <p-datepicker
        [(ngModel)]="diaSeleccionado"
        dateFormat="dd/mm/yy"
        [showIcon]="true"
        iconDisplay="input"
        [readonlyInput]="true"
        [showButtonBar]="true"
        placeholder="Seleccione día"
        styleClass="w-full"
        appendTo="body"
      >
      </p-datepicker>
    </div>

    <!-- TURNO -->
    <div class="flex flex-col gap-2">
      <label class="text-sm font-bold text-ink">Turno</label>

      <p-select
        [options]="turnos"
        [(ngModel)]="turnoSeleccionado"
        optionLabel="label"
        optionValue="value"
        placeholder="Todos"
        [showClear]="true"
        styleClass="w-full"
        appendTo="body"
      >
      </p-select>
    </div>

    <!-- APLICAR -->
    <div class="flex items-end">
      <button
        pButton
        type="button"
        label="Aplicar"
        icon="pi pi-filter"
        class="w-full bg-secondary! border-secondary! text-white! hover:bg-secondary/90!"
        (click)="aplicarFiltro()"
      ></button>
    </div>

    <!-- QUITAR FILTRO -->
    <div class="flex items-end">
      <button
        pButton
        type="button"
        label="Quitar filtro"
        icon="pi pi-filter-slash"
        severity="secondary"
        [outlined]="true"
        class="w-full"
        (click)="quitarFiltro()"
      ></button>
    </div>
  </div>
</div>

  <!-- GRÁFICO GENERAL -->
  <div class="rounded-2xl border border-border bg-surface p-5 shadow-sm">
    <div
      class="mb-4 flex flex-col gap-2 border-b border-border pb-3 md:flex-row md:items-center md:justify-between"
    >
      <div>
        <h2 class="m-0 text-lg font-extrabold text-secondary">
          Línea de Tiempo Operativa
        </h2>

        <p class="m-0 text-sm text-ink-50">
          Perforación horizontal, taladro largo, empernador y scooptram
        </p>
      </div>

      <span
        class="rounded-full bg-primary-25 px-3 py-1 text-xs font-bold text-secondary"
      >
        {{ ganttGeneral.length }} equipos / grupos
      </span>
    </div>

    <div class="w-full">
      <app-scheduler class="block w-full" [data]="ganttGeneral">
      </app-scheduler>
    </div>
  </div>
</div>
