<div class="filtro-fechas">
  <div class="campo">
    <label>Fecha inicio</label>
    <input type="date" [(ngModel)]="fechaInicio">
  </div>

  <div class="campo">
    <label>Fecha fin</label>
    <input type="date" [(ngModel)]="fechaFin">
  </div>

  <div class="campo">
  <label>Turno</label>
  <select [(ngModel)]="turnoSeleccionado">
    <option value="">Todos</option>
    <option value="DÍA">Día</option>
    <option value="NOCHE">Noche</option>
  </select>
</div>


  <button class="btn-aplicar" (click)="aplicarFiltro()">
    Aplicar
  </button>

  <button class="btn-aplicar" (click)="quitarFiltro()">
    Quitar filtro
  </button>

  <!-- <button class="btn-aplicar" (click)="generarPDF()">
  Exportar PDF
</button> -->

</div>

<div class="graficos-container">

  <!-- 🔹 HORIZONTAL -->
  <div class="grafico-card">
    <h2 class="titulo-grafico">Perforación Horizontal</h2>
    <app-scheduler 
      class="full-width" 
      [data]="ganttHorizontal">
    </app-scheduler>
  </div>

  <!-- 🔹 TALADRO LARGO -->
  <div class="grafico-card">
    <h2 class="titulo-grafico">Perforación Taladro Largo</h2>
    <app-scheduler 
      class="full-width" 
      [data]="ganttLargo">
    </app-scheduler>
  </div>

  <div class="grafico-card">
    <h2 class="titulo-grafico">Empernador</h2>
    <app-scheduler 
      class="full-width" 
      [data]="ganttEmpernador">
    </app-scheduler>
  </div>

  <div class="grafico-card">
    <h2 class="titulo-grafico">Scooptram</h2>
    <app-scheduler 
      class="full-width" 
      [data]="ganttScoops">
    </app-scheduler>
  </div>
</div>

 

