<div class="layout-container">
  <app-card-operaciones
    *ngIf="cardData"
    [data]="cardData"
    (dataChange)="onCardChange($event)">
  </app-card-operaciones>

  <div class="tabla-container">
    <app-tabla *ngIf="!loading" [data]="tablaData" (dataChange)="onTablaChange($event)"></app-tabla>
  </div>

  <app-menuAcciones
    [horometrosData]="horometrosData"
    [condicionesData]="condicionesData"
    [checkListData]="checkListData"
    [llantasData]="llantasData"
    [programaTrabajoData]="programaTrabajoData" 
    (dataChange)="onMenuChange($event)"
    (actualizarClick)="validarCambios()">
  </app-menuAcciones>
</div>